<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style="width:550px;">
  <div class="">
    <%= f.label :team_name, :class => "col-sm-3 control-label no-padding-right" %> <%= f.text_field :team_name %>
  </div>
  <div class="">
    <%= f.label :team_lead, :class => "col-sm-3 control-label no-padding-right"%> <%= f.collection_select :team_lead, Employee.all, :id, :username ,{:multiple => true }%> 
  </div>
  <div class="">   
    <%= f.label :theme, :class => "col-sm-3 control-label no-padding-right"%>
    <%= f.select(:theme, options_for_select( Theme.all.collect { |thm| [thm.name, thm.theme, {:class=> thm.theme } ] },:selected => f.object.theme)) %>
  </div>
  <div class="actions" id="team_actions">
    <%= f.submit %> 
  </div>
</div>
<% end %>
</div>
