<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username ,nil, :class => "col-sm-3 control-label no-padding-right" %><div class="col-sm-9"> <%= f.text_field :username %></div>
  </div>
  <div class="form-group">
    <%= f.label :password ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"> <%= f.password_field :password, :value =>  @employee.password %></div>
  </div>
  <div class="form-group">
    <%= f.label :position ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"> <%= f.select :position, options_for_select([["Employee", 0], ["Admin",1],["Team Lead",2]])%></div>
  </div>

  <div class="form-group">
    <%= f.label :first_name ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"><%= f.text_field :first_name %></div>
  </div>
  <div class="form-group">
    <%= f.label :last_name ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"><%= f.text_field :last_name %></div>
  </div>
  <div class="form-group">
    <%= f.label :contact_info,nil, :class => "col-sm-3 control-label no-padding-right" %><div class="col-sm-9"><%= f.text_area :contact_info, :rows => 2, :cols => 30 %></div>
  </div>
  <div class="form-group">
    <%= f.label :additional_info ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"><%= f.text_area :additional_info, :rows => 2, :cols => 30 %></div>
  </div>
  <div class="form-group">
    <%= f.label :pay_scale ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"><%= f.number_field :pay_scale %></div>
  </div>
  <div class="form-group">
    <%= f.label :comments ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"><%= f.text_area :comments, :rows => 2, :cols => 30 %></div>
  </div>
  <div class="form-group">
    <%= f.label :customer_feedback ,nil, :class => "col-sm-3 control-label no-padding-right"%><div class="col-sm-9"><%= f.text_area :customer_feedback, :rows => 2, :cols => 30 %>
  </div>
  <div class="form-group">
    <%= f.label :working_hours,nil, :class => "col-sm-3 control-label no-padding-right" %><div class="col-sm-9"><%= f.text_field :working_hours %></div>
  </div>
  <div class="btn btn-xs">
    <%= f.submit %>
  </div>
<% end %>
