<script>
 $(document).ready(function() {
   $('form#new_employee').submit(function(e) {  
    // alert("submitting in new form");
    var uname = $.trim($('#employee_username').val());
    var passwd = $.trim($('#employee_password').val());
    var valuesToSubmit = $(this).serialize();
    if ((uname.length > 0)  && (passwd.length > 0 ) ) {
      $.modal.close();
      $.ajax({
          type: "POST",
          url: $(this).attr('action'), //sumbits it to the given url of the form
          data: valuesToSubmit,
          dataType: "HTML" 
      }).success(function(data){
      // disaply new charge in the table 
          $('#content_div').html(data);
      });
      return false; // prevents normal behaviour
    }
    else {
      alert("Employee name/password cannot be blank");
      return false;
    }
  });
});

</script>


<div id="navbar" class="navbar navbar-default">
  <div id="navbar-container" class="navbar-container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#"><small><i class="icon-leaf"></i>Home/Business Cleaning</small></a>
    </div>
    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="light-blue">Welcome <%=session[:username]%><span class="icon-asterisk "></span></li>
        <li class="purple"><%= link_to '', root_url ,:class => "icon-home"%></li>
        <li class="green"><%= link_to '', teams_path ,:class => "icon-group"%></li>
        <li class="grey"><%= link_to '', '/members/logout', :class => "icon-bell-alt icon-animated-bell", :alt => "Logout" %></li>        
      </ul>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="page-header">
    <h1>Member Management</h1>
  </div>
  <div><a rel="modal:open" href="#ex2" class="btn btn-xs">Add New Employee</a></div>

  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Member Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= link_to employee.username, employee %></td>
                <td><%= link_to '', edit_employee_path(employee), :class =>"btn btn-xs btn-info icon-edit bigger-120" %> <%= link_to '', employee, method: :delete, data: { confirm: 'Are you sure?' } , :class =>"btn btn-xs btn-danger icon-trash bigger-120" %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <div id="ex2" style="display:none;width:600px; height: 500px;">
    <h1 align="center">New employee</h1>
    <%=  render 'form' %>
  </div>
</div>




