<div id="navbar" class="navbar navbar-default">
  <div id="navbar-container" class="navbar-container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#"><small><i class="icon-leaf"></i>Home/Business Cleaning</small></a>
    </div>
    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="light-blue">Welcome <%=session[:username]%><span class="icon-asterisk "></span></li>
        <li class="purple"><%= link_to '', root_url ,:class => "icon-home"%></li>
        <li class="green"><%= link_to '', employees_path ,:class => "icon-group"%></li>
        <li class="grey"><%= link_to '', '/members/logout', :class => "icon-bell-alt icon-animated-bell", :alt => "Logout" %></li>        
      </ul>
    </div>
  </div>
</div>

<h1>Listing AreaCodes</h1>

<table>
  <thead>
    <tr>
      <th width="10%">Areacode</th>
      <th width="10%">Latitude</th>
      <th width="10%">Longitude</th>
      <th width="10%">Address</th>
      <th width="10%"></th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td width="10%"><%= area.areacode %></td>
        <td width="10%"><%= area.address %></td>
        <td width="10%"><%= area.latitude %></td>
        <td width="10%"><%= area.longitude %></td>
         <!-- link_to 'Show', area %> -->
        <td width="10%"><%= link_to 'Edit', edit_area_path(area) %></td>
        <td width="10%"><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path %>
