<script>
$('.navbar').on('click', function(){
  $('#servicedesc').load('servicios/load?id=5');
});	
	
</script>

<div><strong><%= link_to 'Logout', '/members/logout' %></strong></div><br><br>
  <div><strong><%= link_to 'Team Mamagement', teams_url %></strong></div>
  <br>
  <div><strong><%= link_to 'Employee Mamagement', employees_url %></strong></div><br>
  <div><strong><%= link_to 'Schedule jobs', root_url %></strong></div>

 <div> <%= link_to 'Projects', '/members/ajaxchk', remote: true %></div>

